.cards {
  /* padding: 4rem; */
  padding: 4rem 0 4rem 0;
  background: #fff;
}

h1 {
  text-align: center;
    /*margin: 1em 0 1em 0;*/
    margin-bottom: 1rem;
}

.cards__container {
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  /* min-width: 100%; */
  /* width: 90%; */

  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 1em 0 2em;
}

.cards__items {
  /* margin-bottom: 24px; */
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 kolumny o równej szerokości */
    gap: 20px;  /* Odstęp między blokami */
    padding: 20px;  /* Padding wewnętrzny sekcji */

}

.cards__items > .cards__item {
    /*min-width: 30%;*/
    /*max-width: 30%;*/
}

.cards__item {
  display: flex;
  /* flex: 1; */
  margin: 1rem 1rem;
  border-radius: 10px;
    /*width: 30%;*/
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  /*box-shadow: 0 6px 20px rgba(56, 125, 255, 0.35);*/
  box-shadow: 0 2px 5px 2px rgb(0 0 0 / 40%);
  /*-webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.35));*/
  /*filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.35));*/
  filter: drop-shadow(0 0px 0px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;

    padding: 20px 30px 30px;
    justify-content: space-between;
}

.cards__item__link:hover {
    /*box-shadow: 0 6px 20px rgba(56, 125, 255, 0.55);*/
    box-shadow: 0 2px 15px 5px rgb(0 0 0 / 35%);
    transition: all 0.3s ease-out;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 30%;
  overflow: hidden;
    /*margin: 1em 0;*/
}

.card__item__more .cards__item__pic-wrap {
    width: 90%;
    padding: 125px 0;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

/*.cards__item__img:hover {*/
/*  transform: scale(1.1);*/
/*}*/

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    /* width: 84%; */
  }
}

/*@media only screen and (min-width: 768px) {*/
/*  .cards__items {*/
/*    !* display: flex; *!*/


/*    display: grid;*/
/*    grid-template-columns: repeat(2, auto);*/

/*  !* display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  flex: 0 0 49%;*/
/*  max-width: 49%; *!*/

/*  }*/
/*}*/

/*@media only screen and (min-width: 1024px) {*/
/*  .cards__items {*/
/*    !* display: flex; *!*/


/*    !* display: grid;*/
/*  grid-template-columns: repeat(2, auto); *!*/

/*  !* display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  flex: 0 0 49%;*/
/*  max-width: 49%; *!*/
/*  grid-template-columns: repeat(3, auto);*/
/*  }*/
/*}*/


@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }

  .cards__items {
    grid-template-columns: repeat(2, 1fr);  /* 2 kolumny na ekranach poniżej 1024px */
  }


}


@media only screen and (max-width: 768px) {
    .cards__items {
        display: block;
    }
}






.above_project_list {
    display: flex;
    width: 95%;
    justify-content: end;
    /*margin: 2em 0 1em 0;*/
    margin: 0 auto;
    /*margin: 0 1em;*/
    max-width: 1600px;
    text-decoration: none;

}
.black_button {
    /*margin: 1em;*/
    padding: 8px 20px;
    font-size: 1.2rem;
    background-color: transparent;
    /*margin: 0 1em;*/
    border: 3px solid #1b1919;
    border-radius: 2px;
    cursor: pointer;

    width: 7.5em;
    /*height: 2em;*/
    text-align: center;
    text-decoration: none;
    color: #1b1919;
}

.black_button:hover {
    background: #1b1919;
    color: #fff;
    transition: all 0.3s ease-out;
}
.black_button:active {
    background: #fff;
    color: #1b1919;
    transition: none;

}




.project_card {
    position: relative;
    width: 100%;
    /*padding-top: 67%;*/
    /*overflow: hidden;*/

    /*padding: 20px 30px 30px;*/
}
/*.project_card::after {*/
/*    content: attr(data-category);*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    margin-left: 10px;*/
/*    padding: 6px 8px;*/
/*    max-width: calc((100%) - 60px);*/
/*    font-size: 12px;*/
/*    font-weight: 700;*/
/*    color: #fff;*/
/*    background-color: #1f98f4;*/
/*    box-sizing: border-box;*/
/*}*/

.cards__item__info {
    /*padding: 20px 30px 30px;*/
}

.cards__item__text__title {
    color: #252e48;
    font-size: 1.3rem;
    line-height: 2rem;
    /*padding-bottom: 20px;*/
}
.cards__item__text__description {
    color: #252e48;
    font-size: 1rem;
    line-height: 1.5rem;
    /*margin: 1rem 0;*/
    /*margin: 2rem;*/
    width: 90%;
}

.cards__item__buttons {
    display: flex;
    justify-content: space-between;
    /*padding: 20px 30px 30px;*/
    /*padding-top: 2rem;*/
    /*vertical-align: bottom;*/
    align-items: center;
}

.member_count {
    font-size: 1.5em;
}
.member_count i {
    padding: 0 0.5rem;

}

.join_project_btn {
    /*margin: 1em;*/



    padding: 5px 8px;
    font-size: 1.2rem;
    background-color: transparent;
    /*margin: 0 1em;*/
    border: 3px solid #1b1919;
    border-radius: 2px;
    cursor: pointer;

    width: 25%;
    /*height: 2em;*/
    text-align: center;
    text-decoration: none;
    color: #1b1919;
}
.join_project_btn:hover {
    background: #1b1919;
    color: #fff;
    transition: all 0.3s ease-out;
}

.cards__item__buttons {
    margin-top: 50px;
}

.cards__item__buttons__parent .cards__item__buttons .join_project_btn {
    position: absolute;
    right: 30px;
}

.cards__item__status {
    margin: 1em 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.status_icon {
    background-color: forestgreen;
    border-radius: 15px;
    padding: 0.25em 0.75em;
    color: #fff;
    font-size: small;
    margin-right: 0.5em;
}






.card__item__more__wrapper {
    margin: 0 2rem;
}

.card__item__more {
    max-width: 1300px;
    margin: 5rem auto;
    box-shadow: 0 3px 20px rgba(56, 125, 255, 0.55);
    /*filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.55));*/
    border-radius: 10px;
    padding: 20px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.card__item__more__content {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin: 1.5em 0;*/
/*}*/

.member_progress_bar {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    justify-content: center;
    width: 100%;
}

.member_progress_bar i {
    font-size: 1.2em;
    margin-right: 0.5rem;
}
.member_progress_bar span {
    font-size: 1.2em;
}

.member_progress_bar progress {
    width: 80%;
    margin-right: 10px;
}

.paginationButtons {
    display: flex;
    justify-content: center;
}

.paginationButtons button {
    width: 150px;
    height: 45px;
}


.card__item__more > * {
    margin: 1rem 0;
}

.project_card > * {
    /* margin: 15px 0 15px 0; */
    margin-bottom: 1rem;
}