/* Wrapper dla listy zadań */
.tasks_list_wrapper {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Kolumny w układzie siatki */
    gap: 20px; /* Dodanie przerwy między kolumnami */
}

/* Lista zadań */
.tasks_list {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 40%);
    border-radius: 20px;
}

/* Karta zadania */
.task-card {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 40%);
}

/* Sekcja z informacjami o zadaniu */
.task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Grupa ikon po lewej stronie */
.icon-group-left {
    display: flex;
}

.icon-group-left i {
    margin-right: 1em;
}

.icon-group-left .icon-with-text i {
    margin-right: 0.5em;
}

/* Responsywność dla ekranów poniżej 768px */
@media only screen and (max-width: 768px) {
    .tasks_list_wrapper {
        width: 100%;
        grid-template-columns: repeat(1, 1fr); /* Jeden wiersz z jedną kolumną */
    }

    .tasks_list {
        margin: 1rem 0;
    }
}

/* Responsywność dla ekranów poniżej 1200px */
@media only screen and (max-width: 1200px) {
    .tasks_list_wrapper {
        grid-template-columns: repeat(2, 1fr); /* Dwie kolumny na średnich ekranach */
    }

    .task-card {
        width: 100%; /* Pełna szerokość kart */
    }
}
